{# empty Twig template #}

{% extends "base.html.twig" %}

{% block title %} About Us {% endblock %}

{% block body %}

<p>A better way to shop online for furniture and so much more! 
Furniture.com Canada is more than just an online furniture store. 
</p><br>
<p>
We hand pick and curate the best in quality and style for you and your home. Why spend days driving from store to store trying to find that perfect look or unique piece. 
</p>
<p><br>
Find everything you’re looking for and more from the comfort of your own home.
</p>
<br>
<p >
    OUR PROMISE <br>
- All Canadian Pricing + No custom fees.<br>
- Professional and reliable delivery service.<br>
- A vast selection of products. <br>
- Personalized customer service.<br>
- Satisfaction guarantee.<br>
    </p>

{% endblock %}
