{# empty Twig template #}

{% extends "base.html.twig" %}

{% block title %} About Us {% endblock %}

{% block body %}

    <p><b>Email us at:  
    </p><b><br>
        <p>
            customercareca@furniture.com 
        </p>
        <p><br>
            <b>Call us at:</b>
        </p>
        <br>
        <p>
            1-416-243-4754 
        </p>
        <br>
        <br>
        <p >
            Your call or email will be answered within 1 business day.
        </p>

    {% endblock %}
